@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
*
{
    margin: 40px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body
{
    display: flex;
    justify-content: center;
    min-width: 60vh;
    overflow: hidden;
    background: #222;
    align-items: center;
}
.container .box
{
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: perspective(1000px) rotateX(0deg) rotate(360deg);
    }
    25%
    {
        transform: perspective(800px) rotateY(90deg) rotate(360deg);
    }
    50%
    {
        transform: perspective(600px) rotateX(180deg) rotate(180deg);
    }
    75%
    {
        transform: perspective(800px) rotateY(270deg) rotate(90deg);
    }
    100%
    {
        transform: perspective(1000px) rotateX(3600deg) rotate(0deg);
    }
}
.container .box span 
{
    background: linear-gradient(60deg , transparent , rgba(0,0,0,0.5),transparent);
     position: absolute;
     color: rgb(220, 234, 246);
     font-size: 2.5em;
     white-space: normal;
     text-transform: uppercase;
     transform-style: preserve-3d;
     text-shadow: 3px 2px rgb(182, 76, 43) !important;
     box-shadow: 2px 10px rgb(98, 98, 167);
     border-radius: 50px;
     transform: translate(50% , 50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(150px);
}
.container .box span i:nth-child(1)
{
    font-style: initial;
    color: red;
    box-shadow: 2px grey;
}
